{% extends 'administration_base.html' %}{% load i18n %}{% load url from future %}
{% block contents %}
{% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if paginator.has_previous %}
                <a href="?page={{ paginator.previous_page_number }}">{% trans 'previous' %}</a>
            {% endif %}

            <span class="current">
                {% trans 'Page' %} {{ paginator.number }} {% trans 'of' %} {{ paginator.paginator.num_pages }}.
            </span>

            {% if paginator.has_next %}
                <a href="?page={{ paginator.next_page_number }}">{% trans 'next' %}</a>
            {% endif %}
        </span>
    </div>
{% endif %}
    <a href="{% url 'add_user' %}">{% trans 'add user' %}</a>
<ul>
{% for user in object_list %}
    <li>{{ user.get_profile.res_first_name }} {{ user.get_profile.res_last_name }}
        <a href="{% url 'show_user' id=user.id %}">{% trans 'show' %}</a>
        <a href="{% url 'edit_user' id=user.id %}">{% trans 'edit' %}</a>
    </li>
{% endfor %}
</ul>
{% endblock %}