Django==1.7
psycopg2
dj-database-url==0.3.0
dj-static==0.0.5
djangorestframework==2.3.13
requests==2.3.0
static==1.0.2
pretend

# format texts
mwlib==0.15.14
#mwlib==0.12.14
beautifulsoup
trans

# for heroku
django-toolbelt==0.0.1
django-bootstrap3
