.block-admin_head{
    
}

.block-admin_head__menu{
    padding: 0;
    margin: 0;
    clear: both;
    height: 25px;
}

.block-admin_head__menu li{
    float: left;
    display: block;

}

.block-admin_head__menu li a{
    display: block;
    margin-right: 5px;
}