<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{% load url from future %}{% load i18n %}{% load util_tags %}{% load compressed %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{% trans 'Storefront' %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css"/>
    <script type="text/javascript" src="http://yandex.st/jquery/1.5.2/jquery.min.js"></script>
    <!--<script type="text/javascript" src="{{ STATIC_URL }}/jquery.js"></script>-->
    <script src="http://api-maps.yandex.ru/1.1/index.xml?key=ABaBBU8BAAAApPenfwIAp_0XV6sM9W0Pc023O6JLpZvwaUkAAAAAAAAAAADfpQeYEy0fuTmWY4BUM_JKlPBySA==&modules=pmap"
            type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}all.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}galleriffic.js" charset="utf-8"></script>
</head>
<body>
<div class="am-flash">
    <ul class="am-flash__list"></ul>
</div>
<div class="body">
    <div>
    <span class="b-authentication" onclick="return {}">
        {% if request.user.is_authenticated %}
            {% trans 'authenticationHello' %} {{ request.user.get_profile.full_name }}
            <a href="{% url 'user_logout' %}">{% trans 'logout' %}</a>
            {% if latest_order %}
                <a href="{% url 'view_order' id=latest_order.id %}">{% trans 'authenticationLatestOrder' %}</a>
            {% endif %}
        {% else %}
            {% trans 'authenticationPlease' %}, <a href="{% url 'user_login' %}">{% trans "authenticationLogin" %}</a>
        {% endif %}
    </span>
    {% if cart %}
        <span class="{% class_block 'simple_cart' %}"
                  onclick="return {price: {{ simple_cart_total_price|floatformat:0 }}, items: {{ simple_cart_item_quantity }}}"
                ><span class="{% class_block 'simple_cart__not_empty' %}"><!--{% trans 'In total:' %} --><span
                    class="{% class_block 'simple_cart__quantity' %}">{{ simple_cart_item_quantity }} {{ simple_cart_item_count_items }}</span>
            {% trans 'for' %} <span
                    class="{% class_block 'simple_cart__price' %}">{{ simple_cart_total_price|floatformat:0 }}</span> <a
                    href="{% url 'cart_show' %}">{% trans 'checkout' %}</a></span>
            <span class="{% class_block 'simple_cart__empty' %}">{% trans "cartIsEmpty" %}</span>
        </span>
    {% endif %}
    </div>
    <div>
        <span class="{% class_block 'top_menu' %}">
            {% for element in top_menu %}
                <span>{{ element|safe }}</span>
            {% endfor %}
        </span>

    </div>
    {% block contents %}{% endblock %}
</div>
{% if count_visits %}{{ count_visits|safe }}{% endif %}
</body>
</html>
