<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load url from future %}{% load i18n %}{% load util_tags %}{% load compressed %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% trans 'Storefront' %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.8.16.custom.css" />
    {% compressed_css 'screen' %}
    <style type="text/css">.ui-widget{font-size: 0.9em;}</style>
    <script type="text/javascript" src="http://yandex.st/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://api-maps.yandex.ru/1.1/index.xml?key=ADMMbU4BAAAAA_iqHgMAes1ZOmqz_0hTPrJj_q1OW_tMKEEAAAAAAAAAAAApj2OvgPA7gmVnYXgxkKW-IJn6iw==&modules=pmap" type="text/javascript"></script>
    {% compressed_js 'all' %}
</head>
<body>
<div class="am-flash">
    <ul class="am-flash__list"></ul>
</div>
<div class="body">
    <div class="b-authentication" onclick="return {}">
		{% if request.user.is_authenticated %}
			{% trans 'Вы' %} {{ request.user.get_profile.full_name }}
			<a href="{% url 'user_logout' %}">{% trans 'logout' %}</a>
		{% endif %}
	</div>
    <div>
        <span class="{% class_block 'top_menu' %}">
            {% for element in top_menu %}
                <span>{{ element|safe }}</span>
            {% endfor %}
        </span>
        <span class="{% class_block 'simple_cart' %}" onclick="return {price: {{ simple_cart_total_price|floatformat:0 }}, items: {{ simple_cart_item_quantity }}}">{% trans 'In total:' %} <span class="{% class_block 'simple_cart__quantity' %}">{{ simple_cart_item_quantity }}</span> {% trans 'for' %} <span class="{% class_block 'simple_cart__price' %}">{{ simple_cart_total_price|floatformat:0 }}</span> <a href="{% url 'cart_show' %}">{% trans 'checkout' %}</a></span>
    </div>
	{% block contents %}{% endblock %}
</div>
{% if count_visits %}{{ count_visits|safe }}{% endif %}
</body>
</html>
