.am-flash{
    position: fixed;
    top: 0;
    left: 500px;
    max-width: 400px;
    background-color: #fef1ec;
    padding: 0 20px;
}

.am-flash__list{
    padding: 0;
    margin: 0;
}

.am-flash__list li{
    list-style: none;
    padding: 2px 0;
    margin: 0;
}

