{% extends "base.html" %}
{% load i18n %}{% load url from future %}
{% load order_tags %}{% load util_tags %}{% load catalog_tags %}
{% load humanize %}
{% block title %}{% trans 'Order' %}{% endblock %}
{% block script %}
    <script src="http://api-maps.yandex.ru/1.1/index.xml?key=ADMMbU4BAAAAA_iqHgMAes1ZOmqz_0hTPrJj_q1OW_tMKEEAAAAAAAAAAAApj2OvgPA7gmVnYXgxkKW-IJn6iw==&modules=pmap"
            type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}{% load_block_file 'delivery_map' 'delivery_map.js' %}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}{% load_block_file 'delivery_address' 'delivery_address.js' %}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}{% load_block_file 'delivery_map' 'delivery_map__map.js' %}"></script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}{% load_block_file 'order' 'order.css' %}"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}{% load_block_file 'item' 'item.css' %}" />
{% endblock %}

{% block contents %}
    {% trans 'Order is' %} {{ order|order_status }}, {% trans 'created' %} {{ order.created_at|naturalday }}
    <table>
        <tbody>
        {% for order_item in order.orderitem_set.all %}
            <tr>
                <td>
                    {% if order_item.item.has_images %}
                        <image src="{% get_item_main_image order_item.item %}" alt="{{ order_item.item.name }}"/>
                    {% endif %}
                </td>
                <td style="width: 100%;">
                    <a href="{% url 'show_item' url=order_item.item.url %}">{{ order_item.item.name }}</a>
                    {% if order_item.quantity > 0 %}
                        <span class="{% class_block 'order__quantity' %}">({{ order_item.quantity }} {% trans 'itemsShort' %})</span>
                    {% endif %}
                </td>
                <td>
                    <span class="{% class_block 'item__price' %}">{% orderitem_price order_item %}</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if comments.exists %}
    <ul>
    {% for comment in comments %}
        <li class="{% class_block 'comment' %}">
            <span class="{% class_block 'comment__username' %}">{{ comment.user|public_username }}</span> <span class="{% class_block 'comment__username' %}">{{ comment.created_at|naturaltime }}</span>
            <div class="{% class_block 'comment__body' %}">
                {{ comment.body|safe }}
            </div>
        </li>
    {% endfor %}
    </ul>
    {% endif %}
        <form action="{% url 'add_comment' id=order.id %}" method="POST">
        {% csrf_token %}
        <ul>
        {% for field in comment_form %}
            <li>
                <label>{{ field.field.label }}<br />
            {{ field }}
                    </label>
            </li>
        {% endfor %}
        <li><input type="submit" value="{% trans 'comment order' %}" /></li>
        </ul>

        </form>
{% endblock %}
