.block-delivery_list{
    width: 100%;
}
.block-delivery_list td{
    vertical-align: top;
}
.block-delivery_list__name{

}

.block-delivery_list__description{

}

.block-delivery_list__links{
    width: 200px;
}