{% extends "base.html" %}
{% load loginza_widget %}
{% load i18n %}{% load url from future %}
{% load util_tags %}
{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}{% load_block_file 'login' 'login.css' %}" />
{% endblock %}
{% block script %}
<script src="http://s1.loginza.ru/js/widget.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}{% load_block_file 'login' 'login.js' %}"></script>
{% if get_data %}<script src="{{ STATIC_URL }}{% load_block_file 'loginza' 'loginza.js' %}" type="text/javascript"></script>{% endif %}
{% endblock %}
{% block contents %}
	{% if not request.user.is_authenticated %}
	<div class="{% class_block 'login' %}" onclick="return {show: '{{ show_login_window }}'}">
		<div class="login__loginza">
		{% loginza_iframe lang="ru" %}
		</div>
		<div class="login__straight">
			<form action="" method="POST">
			{% csrf_token %}
			<ul>
			{{ authentication_form.as_ul }}
			</ul>
			<input type="submit" value="{% trans 'login' %}" />
			</form>
		</div>
		<div class="login__start_straight"><a href="">{% trans 'or login with your name and password' %}</a></div>
		<div class="login__start_loginza"><a href="">{% trans 'or quickly login with loginza' %}</a></div>
	</div>
	{% endif %}
	{% if get_data %}
	<div class="b-get-loginza-data" onclick="return {url: '{% url 'loginza_login' %}'}"></div>
	{% endif %}
{% endblock %}