.block-delivery__comment{
    width: 50%;
    height: 300px;
    font-size: larger;
}

.block-delivery__nearest span.block-delivery__description{
    text-decoration: underline;
    font-weight: bold;
}

.block-cart__till{
    cursor: pointer;
}

.block-cart_item__quantity{
    width: 70px;
}

.block-cart_item__remove{
    width: 180px;
}

.block-cart_item__quantity .minus, .block-cart_item__quantity .plus{
    padding: 0 5px;
    border: none;
    background-color: yellow;
    unselectable: on;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.block-cart_item__quantity input{
    width: 20px;
}

.block-simple_cart{
    float: right;
    width: 250px;
}

.block-simple_cart__empty{
    display: none;
}