.block-form__row{
    margin: 4px 0;
    padding-bottom: 10px;
}

.block-form__errorlist li{
    color: #8b0000;
    font-weight: bold;
    clear: both;
}

.block-form__row label{
    width: 200px;
    display: block;
    float: left;
}

.block-admin_form legend{
    font-weight: bold;
    margin-bottom: 4px;
    padding: 2px 0 4px 0;
}

.block-admin_form input,
.block-admin_form textarea,
.block-admin_form select{
    border: 1px solid #AAAAAA;
    width: 390px;
}

.block-admin_form{
    width: 600px;
}

.block-form__submit{
    margin: 5px 0;
}

.block-form__submit input{
    width: auto;
    display: block;
    padding: 3px 7px;
    margin: 0 auto;
}

.block-form__errorlist{
    padding-left: 200px;
}