{% extends "administration_base.html" %}
{% load url from future %}{% load i18n %}{% load order_tags %}{% load util_tags %}
{% block script %}
    <script src="{{ STATIC_URL }}{% load_block_file 'delivery_map' 'delivery_map.js' %}"></script>
    <script src="{{ STATIC_URL }}{% load_block_file 'delivery_map' 'delivery_map__map.js' %}"></script>
    <script src="{{ STATIC_URL }}{% load_block_file 'delivery_address' 'delivery_address.js' %}"></script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}{% load_block_file 'delivery_list' 'delivery_list.css' %}" />
{% endblock %}
{% block contents %}
<form action="" method="POST">
{% csrf_token %}
<fieldset>
    <legend>{% trans 'New delivery' %}</legend>
    <ul>
    {{ form.as_ul }}
    </ul>
    <h2>{% trans 'Address' %}</h2>
    {% delivery_address delivery 'editable' %}
    {% trans 'Click map to add point which users will see at checkout' %}. {% trans 'Drag the point to its place' %}. {% trans 'Click on it again to delete it permanently' %}.
    {% delivery_map delivery 'editable' 0 %}
    <input type="submit" value="{%   trans 'send' %}" />
</fieldset>
</form>
{% endblock %}