{% extends "administration_base.html" %}
{% load url from future %}{% load i18n %}{% load humanize %}{% load util_tags %}{% block contents %}
<H2>{% trans 'Orders' %}</h2>
{% if is_paginated %}
	<div class="pagination">
	    <span class="step-links">
	        {% if paginator.has_previous %}
	            <a href="?page={{ paginator.previous_page_number }}">{% trans 'previous' %}</a>
	        {% endif %}
	
	        <span class="current">
	            {% trans 'Page' %} {{ paginator.number }} {% trans 'of' %} {{ paginator.paginator.num_pages }}.
	        </span>
	
	        {% if paginator.has_next %}
	            <a href="?page={{ paginator.next_page_number }}">{% trans 'next' %}</a>
	        {% endif %}
	    </span>
	</div>
{% endif %}
<ul class="{% class_block 'admin_orders' %}">
{% for order in object_list %}
	<li>{{ order.created_at|date:"DATETIME_FORMAT" }} <a href="{% url 'show_user' id=order.user.id %}">{{ order.user }}</a>
        {% trans 'Order is' %} <em>{{ order.text_status }}</em> <a href="{% url 'edit_order' id=order.id %}">{% trans 'edit' %}</a></li>
{% endfor %}
</ul>
{% endblock %}