# -*- coding: utf-8 -*-

DEBUG = True
ADMINS = (
    ('Anton Chaporgin', 'chaporginanton@yandex.ru'),
)

import os
ROOT_PATH = os.path.abspath(os.path.join(os.path.dirname(__file__), '..'))
UPLOAD_PATH = 'user_uploads'
MEDIA_ROOT = '/home/chapson/shop_upload'
MEDIA_URL = '/media/'

HOST_NAME = 'shop.amadika.ru:8080'

TEMPLATE_DIRS = (
    os.path.join(ROOT_PATH, 'src', 'templates'),
)

LOGGING_CONFIG = None

MONGO_DATABASES={'default':{'NAME': 'shop',
                            'HOST': '127.0.0.1'
}}

LOCALE_PATHS = (os.path.join(ROOT_PATH, 'locale'), )

STATIC_ROOT = os.path.join(ROOT_PATH, 'static')

STATICFILES_DIRS = [
#    os.path.join(ROOT_PATH, 'static'),
]

INSTALLED_APPS = (
    'django.contrib.auth',
    'django.contrib.admin',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'django.contrib.humanize',
    'django.contrib.gis',
    'catalog',
    'orders',
    'administration',
    'pages',
    'users',
    'loginza',
    'south',
    'utils',
    'cart',
    'geonames',
    'geocoding',
    'email_generators',
    'business_events',
    'compress',
    'django.contrib.humanize',
)
