.body{
    width: 800px;
    padding-left: 36px;
    background-color: white;
    min-height: 400px;
    padding-right: 100px;
    padding-bottom: 25px;
}

body{
    /*background-image: url('/static/images/snowbackground.jpg');*/
    background-position: bottom right;
    background-repeat: repeat-y;
    background-color: white;
}

.body-wrap{
    /*background-image: url('/static/images/bigshusha.jpg');*/
    background-position: top right;
    background-repeat: no-repeat;
}

.mwx-article{
    
}

.mwx-paragraph:first-line{
    padding-left: 1em;
}

.mwx-paragraph{
    padding-bottom: 1em;
    line-height: 1.1em;
}


.body input, .body textarea{
    border-width: 1px;
    border-color: #AAAAAA;
    border-style: solid;
}

.body table td{
    vertical-align: top;
}

.admin_content h1{
    clear: both;
    font-size: 1em;
}

.admin_content h2{
    clear: both;
    font-size: 1.2em;
    padding: 2px 0 4px;
    margin-bottom: 4px;
    font-weight: bold;
}

.admin_content h3{
    clear: both;
    padding: 2px 0;
    margin: 2px 0;
}

.body .js-visible{
    display: none;
}

.block-spinner{
    display: none;
}

* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0
}

.body .ui-widget {
    font-size: 0.9em;
}

.body td {
    vertical-align: top;
}

.body h1, .body h2, .body h3, .body h4 {
    font-weight: bold;
    display: block;
}

.body h1 {
    font-size: 1.6em;
    padding-bottom: 1em;
}

.body h2 {
    font-size: 1.2em;
    padding-bottom: 1em;
}

.b-top-menu-wrapper{
    background-color: black;
    color: white;
    font-family: Arial;
    font-size: 14px;
    padding: 5px 0 7px 36px;
}

.b-top-menu-wrapper a{
    color: white;
}

.b-top-links{
    padding: 3px 0;
    margin-bottom: 1em;
}