{% load order_tags %}{% load util_tags %}
<div class="{% class_block 'delivery' %}">
    <label for="delivery_id_{{ delivery.id }}"><span class="{% class_block 'delivery__description' %}">{{ delivery.description }}</span> {% if delivery.price %}<span class="{% class_block 'delivery__price' %}">{{ delivery.price|stringformat:"d" }}</span>{% endif %}</label>
    {% if delivery.dynamic_properties.has_text_address %}
        <div class="{% class_block 'delivery__address' %}">{%  print_delivery_address delivery %}</div>
    {% endif %}
    {% if delivery.dynamic_properties.has_point %}
        <div class="{% class_block 'delivery__map' %}">{%  delivery_map delivery %}</div>
    {% endif %}
</div>