{% extends "administration_base.html" %}{% load url from future %}{% load util_tags %}{% load i18n %}
{% block contents %}
<div class="{% class_block "admin_form" %}">
<form action="" method="POST">
{% csrf_token %}
<fieldset>
<legend>{% trans 'Item' %} "{{ item.url }}"</legend>
<ul>
{{ form.as_ul }}
</ul>
<div class="{% class_block "form__submit" %}">
    <input type="submit" value="{% trans 'send' %}" />
</div>
</fieldset>
</form>
</div>
{% if images|length %}
<div class="b-item-images">
	<ul>
	{% for image in images %}
	<li><div class="">
		<a href="{{ image.url }}"><img src="{{ image.object.thumbnail }}" alt="{{ image.alt }}" /></a>
		<form action="{% url 'delete_item_image' id=image.object.id %}" method="POST">
			{% csrf_token %}
            <input type="submit" value="{% trans 'delete' %}" />
		</form>
	</div></li>
	{% endfor %}
	</ul>
</div>
{% endif %}
{% if item.id %}
<div class="{% class_block "admin_form" %}">
    <form action="{% url 'upload_item_image' id=item.id %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans 'Upload image' %}</legend>
        <ul>
        {{ image_form.as_ul }}
        </ul>
        <div class="{% class_block "form__submit" %}">
    <input type="submit" value="{% trans 'upload' %}" />
            </div>
        </fieldset>
    </form>
</div>
{% endif %}
{% endblock %}