{% extends "administration_base.html" %}
{% load url from future %}{% load util_tags %}{% load i18n %}{% load humanize %}
{% block script %}
<script type="text/javascript" src="{{ STATIC_URL }}{% load_block_file 'order_item' 'order_item.js' %}"></script>
{% endblock %}
{% block contents %}
    <h2>{% trans 'Order' %}</h2>
    {% trans 'Author' %} {{ order.user }}, {% trans 'status is' %} {{ order.text_status }}.
    <a href="{% url 'view_order' id=order.id %}">{% trans 'comment order' %}</a>
    <ul>
        {% for order_item in order.orderitem_set.all %}
            <li class="{% class_block 'edit_order_item' %}">{{ order_item.item.name }}
                <div class="{% class_block 'edit_order_item__quantity' %}">
                    <form action="{% url 'edit_order_item' id=order_item.id %}" method="POST">{% csrf_token %}
                        <label>{% trans 'quantity' %} <input type="text" name="quantity"
                                                             value="{{ order_item.quantity }}"/></label>
                        <input type="submit" value="{% trans 'change' %}"/>
                    </form>
                </div>

                <div class="{% class_block 'edit_order_item__delete' %}">
                    <form action="{% url 'delete_order_item' id=order_item.id %}" method="POST">{% csrf_token %}
                        <input type="submit" value="{% trans 'delete' %}"/>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="{% class_block 'no_second_submit' %}">
        <form action="{% url 'order_status' id=order.id  %}" method="POST">{% csrf_token %}
            <input type="hidden" value="{{ delete_status }}" name="status"/>
            <input type="submit" value="{% trans 'delete order' %}"/>
            <span class="spinner"><img src="{{ STATIC_URL }}images/ajax-loader.gif"  alt="" /></span>
        </form>
    </div>
    <div class="{% class_block 'no_second_submit' %}">
        <form action="{% url 'order_status' id=order.id %}" method="post">{% csrf_token %}
            <label>{% trans 'Change status to' %}
                <select name="status">
                    {% for value, status in statuses %}
                        <option value="{{ value }}">{{ status }}</option>
                    {% endfor %}
                </select>
            </label>
            <input type="submit" value="{% trans 'change status' %}"/>
            <span class="spinner"><img src="{{ STATIC_URL }}images/ajax-loader.gif"  alt="" /></span>
        </form>
    </div>
{% endblock %}